.Register {
  position: absolute;
  width: 1000px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.75);

  .Image {
    float: left;
    width: 50%;
    height: 100%;

    img {
      margin: 0;
      object-fit: cover !important;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      border-radius: 20px 0px 0px 20px;
    }
  }

  .Form {
    float: right;
    width: 50%;
    height: 100%;

    .MuiFormControl-root {
      width: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      .MuiTypography-root {
        font-size: 30px;
        padding-bottom: 50px;
        font-family: 'Noto Sans', sans-serif;
        color: #242424;
      }

      .MuiTextField-root {
        width: 80%;
        margin: 10px 0;
      }

      .MuiButtonBase-root {
        opacity: 0.9;
        width: 80%;
        margin: auto;
        padding: 15px;
        margin-bottom: 15px;

        &.RegisterButton {
          background-color: #242424;
        }

        &.LoginButton {
          color: black;
          background-color: #cccccc;
        }
      }
    }
  }
}
