.MuiTableContainer-root {
  margin: 20px;
  width: auto !important;

  // header
  .MuiTableHead-root {
    background-color: #e3e3e3;

    .MuiTableCell-head {
      padding: 10px 16px;
      font-weight: bold;
    }
  }

  // icons
  .MuiSvgIcon-root {
    color: #2b2b2b;
    cursor: pointer;
  }
}
