.MuiTableContainer-root {
  margin: 20px;
  width: auto !important;

  // header
  .MuiTableHead-root {
    background-color: #e3e3e3;

    .MuiTableCell-head {
      padding: 10px 16px;
      font-weight: bold;
    }
  }

  // icons
  .MuiSvgIcon-root {
    color: #2b2b2b;
    cursor: pointer;
  }

  .NewFood {
    // cell
    .MuiTableCell-root {
      padding: 0;

      // left buttons cell
      &.Actions {
        padding: 8px 16px;
      }
    }

    input {
      width: 80%;
      padding: 8px 16px;
      border: 0;

      &:focus {
        outline: none;
      }
    }
  }
}
