/*

<!DOCTYPE html>
<html>
<head>
<title>HTML CSS JS</title>
</head>
<body>
<div class="grid-container">
  <div class="item1">Header</div>
  <div class="item2">
    <div class="first">
      First
    </div>
    <div class="second">
      Second
    </div>
  </div>
  <div class="item3">Right</div>

</div>
</body>
</html>

.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'left right';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item2 {
  position: relative;
}

.first {
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.second {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

*/

.ScannerDialog {
  .MuiDialogContent-root {
    width: 1400px;
    height: 500px;
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-areas:
      'top top'
      'left right'
      'bottom bottom';

    .MuiFormControl-root {
      grid-area: top;
    }

    #interactive.viewport {
      position: relative;
      grid-area: left;

      & canvas,
      & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      & canvas.drawingBuffer,
      & video.drawingBuffer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .MuiTableContainer-root {
      grid-area: right;
    }

    .MuiButton-root {
      grid-area: 'bottom';
      width: 100%;
      background-color: black;
    }
  }
}
