.fab-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column-reverse;
  position: fixed;
  right: 40px;
  bottom: 40px;

  li {
    display: grid;
    place-items: center;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin: 6px 0;
    height: 50px;

    &.processing {
      cursor: wait;
    }

    img {
      border-radius: 50%;
      padding: 0;
      margin: 0;
      width: 50px;
      height: 50px;
    }
  }

  .fab-button {
    border-radius: 50%;
    background-color: #2b2b2b;
    width: 50px;
    height: 50px;

    svg {
      fill: white;
    }
  }

  .fab-action {
    transform: translateY(50px) scale(0);
    transition: transform 300ms, opacity 300ms;
    opacity: 0;

    &:hover {
      .tooltip {
        transform: translateX(-100%) scale(1);
        opacity: 1;
      }
    }

    &.open {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    .tooltip {
      width: 150px;
      text-align: center;
      padding: 4px 6px;
      font-size: 12px;
      position: absolute;
      left: -12px;
      transform: translateX(-75%);
      background-color: #353b48;
      border-radius: 4px;
      color: white;
      opacity: 0;
      transition: transform 300ms, opacity 300ms;
      user-select: none;
    }
  }
}
