img {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
}

.Links {
  display: inline-block;
  text-align: center;
  margin: auto;

  button {
    display: inline-block;
    margin: 0 10px;
  }
}